<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no">
    <title>分类列表 - 有问必答</title>
    <link type="text/css" rel="stylesheet" href="{$smarty.const.ROOT}web/back/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="{$smarty.const.ROOT}web/back/css/icon.css">
    <link type="text/css" rel="stylesheet" href="{$smarty.const.ROOT}web/back/css/common.css">
    <script type="text/javascript" src="{$smarty.const.ROOT}web/back/js/jquery.2.js"></script>
    <script type="text/javascript" src="{$smarty.const.ROOT}web/back/js/framework.js"></script>
    <script type="text/javascript" src="{$smarty.const.ROOT}web/back/js/global.js"></script>

    <!--[if lte IE 8]>
    <script type="text/javascript" src="{$smarty.const.ROOT}web/back/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<div class="aw-header">
    <button class="btn btn-sm mod-head-btn pull-left">
        <i class="icon icon-bar"></i>
    </button>

    <div class="mod-header-user">
        <ul class="pull-right">

            <li class="dropdown username">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img width="30" src="{$smarty.const.ROOT}web/back/img/avatar-mid-img.png" class="img-circle">
                    {$user['user_name']}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu pull-right mod-user">
                    <li>
                        <a href="" target="_blank">
                            <i class="icon icon-user"></i>
                            账户
                        </a>
                    </li>

                    <li>
                        <a href="{framewrok\core\Factory::U('back/User/loginOut')}">
                            <i class="icon icon-logout"></i>
                            退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="aw-side ps-container" id="aw-side">
    <div class="mod">
        <div class="mod-logo">
            <img class="pull-left" src="{$smarty.const.ROOT}web/back/img/logo.png" alt="">
            <h1>有问必答</h1>
        </div>

        <div class="mod-message">
            <div class="message">
                <a class="btn btn-sm" href="index.php?m=home&amp;c=Content&amp;a=index" target="_blank" title="首页">
                    <i class="icon icon-home"></i>
                </a>

                <a class="btn btn-sm" href="login.html" title="退出">
                    <i class="icon icon-logout"></i>
                </a>
            </div>
        </div>

        <ul class="mod-bar">
            <input type="hidden" id="hide_values" val="0">
            <li>
                <a href="index.php?m=back&amp;c=Manage&amp;a=info" class="icon icon-ul active">
                    <span>摘要信息</span>
                </a>
            </li>

            <li>
                <a href="javascript:;" class=" icon icon-reply" data="icon">
                    <span>内容管理</span>
                </a>

                <ul class="hide">
                    <li>
                        <a href="{framewrok\core\Factory::U('back/Category/list')}">
                            <span>分类管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="{framewrok\core\Factory::U('back/Question/list')}">
                            <span>问题管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="{framewrok\core\Factory::U('back/Topic/list')}">
                            <span>话题管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="{framewrok\core\Factory::U('back/Question/zhihu')}">
                            <span>采集管理</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class=" icon icon-user" data="icon">
                    <span>用户管理</span>
                </a>

                <ul class="hide">
                    <li>
                        <a href="user.html">
                            <span>用户列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.php?m=back&amp;c=Role&amp;a=list">
                            <span>用户角色</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="icon icon-setting" data="icon">
                    <span>全局设置</span>
                </a>

                <ul class="hide">
                    <li>
                        <a href="site.html">
                            <span>站点信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="regedit.html">
                            <span>注册访问</span>
                        </a>
                    </li>
                    <li>
                        <a href="mail.html">
                            <span>邮件设置</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class=" icon icon-job" data="icon">
                    <span>工具</span>
                </a>

                <ul class="hide">
                    <li>
                        <a href="tool.html">
                            <span>系统维护</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    {block name="content"}
    <div style="width: 235px; display: none; left: 0px; bottom: 3px;" class="ps-scrollbar-x-rail">
        <div style="left: 0px; width: 0px;" class="ps-scrollbar-x"></div>
    </div>
    <div style="top: 0px; height: 607px; display: inherit; right: 0px;" class="ps-scrollbar-y-rail">
        <div style="top: 0px; height: 560px;" class="ps-scrollbar-y"></div>
    </div>
    <div class="ps-scrollbar-x-rail" style="width: 235px; display: none; left: 0px; bottom: 3px;">
        <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 585px; display: inherit; right: 0px;">
        <div class="ps-scrollbar-y" style="top: 0px; height: 520px;"></div>
    </div>
</div>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="mod-head">
            <h3>
                <span class="pull-left">分类管理</span>
            </h3>
        </div>

        <div class="tab-content mod-body">
            <div class="alert alert-success hide error_message"></div>

            <div class="table-responsive">
                <form id="category_form" action="#" method="post" onsubmit="return false"></form>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="">分类标题</th>
                        <th>排序</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $category_list as $category}
                    <tr>
                        <td style="text-align: left;" class="">
                            <a href="#">{$category['cate_title']|indent:$category['deep']:'--'}</a>
                        </td>
                        <td>
                            <div class="col-sm-6 clo-xs-12 col-lg-offset-3">
                                {$category['cate_sort']}
                            </div>
                        </td>
                        <td>
                            <a data-original-title="编辑" href="
index.php?a=back&c=Category&a=edit&id={$category['cate_id']}" data-toggle="tooltip" class="icon icon-edit md-tip"
                               title=""></a>
                            <a href="index.php?a=back&c=Category&a=delete&id={$category['cate_id']}"
                               data-original-title="移除" data-toggle="tooltip" class="icon icon-trash md-tip" title=""
                               onclick="return confirm('你真的要删除?')"></a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                    <tfoot class="mod-foot-center">
                    <tr>
                        <td colspan="3">
                            <form id="add_category_form" action="index.php?m=back&c=Category&a=insert" method="post"
                                  onsubmit="">

                                <div class="form-group col-sm-4">
                                    <span class="col-sm-3 col-xs-12 mod-category-foot">分类标题</span>
                                    <div class="col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" name="category_title"></div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <span class="col-sm-3 col-xs-12 mod-category-foot">父级分类:</span>
                                    <div class="col-sm-9 col-xs-12">
                                        <select name="parent_id" class="form-control">
                                            <option value=0>顶级分类</option>
                                            {foreach $category_list as $category}
                                            <option value="{$category['cate_id']}">
                                                {$category['cate_title']|indent:$category['deep']:"---"}
                                            </option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-2">
                                    <span class="col-sm-3 col-xs-12 mod-category-foot">排序</span>
                                    <div class="col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="0" name="sort"></div>
                                </div>

                                <div class="form-group col-sm-2 col-xs-12">
                                    <input type="submit" value="添加分类" class="form-control btn-primary btn">
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <div id="target-category" class="hide">
        <option value="1">默认分类</option>
    </div>
</div>
{/block}
<div class="aw-footer">
    <p>
        Copyright &copy; 2016-2099 - Powered By
        <a href="http://hellokang.net/" target="blank">有问必答 1.0</a>
    </p>
</div>


</body>
</html>